body {
  margin: 0;
}

/* BANNER including the logo */

.banner {
  display: flex;
  width: 100%;
  justify-content: center;
}

div.logo {
  width: 200px;
}

img#logo {
  width: 100%;
}

/* INPUT */

.input {
  display: flex;
  justify-content: center;
}


/* Footer */

#logoCred {
  width: 100%;
  text-align: center;
}