<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- jQuery --}}
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  {{!-- Axios --}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {{!-- In-house JS --}}
  <script src="assets/js/handlers.js"></script>
  {{!-- In-house CSS --}}
  <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
  <title>Burgers</title>
</head>

<body>

  {{!-- banner --}}
  <div class="banner">
    <div class="logo">
      <img src="assets/images/burger.png" alt="burger" id="logo" />
    </div>
  </div>

  {{!-- input --}}
  <div class="input">
    <form action="/" method="post">
      <input type="text" name="burger_name" />
      <button type="submit">Add Burger</button>
    </form>
  </div>

  {{{ body }}}

  <div id="logoCred">
    Icons made by
    <a href="https://www.freepik.com/" title="Freepik">Freepik</a>
    from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
</body>

</html>